body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: azure;
}

.container {
    display: flex;
}

.sidebar {
    background-color: turquoise;
    width: 200px;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;

}

.sidebar li {
    margin: 20px 0;
}

.sidebar a {
    text-decoration: none;
    font-size: x-large;
    
}

.sidebar a:hover {
    text-decoration: underline;
}

main {
    flex: 1;
    margin-left: 220px;
    padding: 20px
    
}

.separator {
    border: 5px solid black;
    margin: 20px 0 0;
}

.top-left a {
    font-size: xx-large;
    text-decoration: none;
}

.bio-image img {
    margin-right: 20px;
    max-width: 300px;
    border-radius: 8px;
    align-self:flex-end ;
} 

.bio-text {
    flex:1;
    max-width:1000px;
}

.bio-container {
    display:flex;
    align-items: center;
    justify-content: flex-start
}

.socials li {
    display: inline-block;
}

.socials img {
    margin-right: 220px;
    margin-left: 200px;
    max-width: 260px;
    align-self:flex-end ;
}

.interests {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bouldering {
    flex:1;
    max-width: 45%;
    margin-left: 30px;
    margin-bottom: 20px;
}

.bouldering p {
    max-width: 80%;
}

.bouldering img {
    max-width:80%;
    max-height: 70%;

}

.volleyball {
    flex:1;
    max-width: 45%;
    margin-left: 200px;
    margin-bottom: 20px;
}

.volleyball p {
    max-width: 80%;
}

.volleyball img {
    max-width:80%;
}
.resume a {
    color: blue;
}

.work a {
    color: blue;
}